@highlight: DeepPink;
@secondary: gray;
@standard: black;

@tiny: 60%;

.brtlyst-secondary {
  color: @secondary;
}

.brtlyst-highlight {
  color: @highlight !important;
}

.brtlyst-icon {
  border: 1px @standard solid;
  color: @standard;
  display: inline-block;
  font-size: @tiny;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.brtlyst-icon:hover {
  border: 1px @highlight solid;
  color: @highlight;
}

.brtlyst-link {
  color: @standard;
  text-decoration: underline;
}

.brtlyst-link--highlighted {
  color: @highlight;
  text-decoration: none;
}

.brtlyst-thin {
    font-weight: 200;
    font-style: normal;
}
