@highlight: DeepPink;
@secondary: gray;
@standard: black;

@tiny: 60%;

a, .brtlyst-link {
  color: @standard;
  text-decoration: underline;
}

.brtlyst-secondary {
  color: @secondary;
}

.brtlyst-gray {
  color: DimGray;
}

.brtlyst-highlight {
  color: @highlight !important;
}

.brtlyst-icon {
  border: 1px @standard solid;
  color: @standard;
  display: inline-block;
  font-size: @tiny;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

a.brtlyst-icon:hover {
  border: 1px @highlight solid;
  color: @highlight;
}

.brtlyst-light {
    font-weight: 300;
    font-style: normal;
}

.brtlyst-link--highlighted {
  color: @highlight;
  text-decoration: none;
}

.brtlyst-sc {
  font-variant: small-caps;
}

.brtlyst-smaller {
  font-size: 80%;
}

.brtlyst-standard {
  color: @standard;
}

.brtlyst-thin {
    font-weight: 200;
    font-style: normal;
}
