.brtlyst-secondary {
  color: gray;
}
.brtlyst-highlight {
  color: DeepPink !important;
}
.brtlyst-icon {
  border: 1px black solid;
  display: inline-block;
  font-size: 50%;
  padding: 5px;
  text-align: center;
}
.brtlyst-link {
  color: DeepPink;
  text-decoration: none;
}
.brtlyst-thin {
  font-weight: 200;
  font-style: normal;
}
