@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:200,400,600');

@highlight: DeepPink;
@secondary: gray;

/* TAGS */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Lora", serif;
}

h2 {
  font-weight: 600;
}

section {
  margin-bottom: 4em;
}

td {
  padding-bottom: 15px;
  padding-right: 15px;
  vertical-align: top;
}

/* CLASSES */

.arrangement, .skills-skill {
  border: 1px @highlight solid;
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
}

.container {
  
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.skills-skill--dehighlighted {
  border: 1px @secondary solid;
  color: @secondary;
}

.tiny {
  font-size: 50%;
}