@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat');

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Lora", serif;
}

section {
  margin-bottom: 4em;
}

td {
  padding-bottom: 15px;
  padding-right: 15px;
  vertical-align: top;
}

.container {
  
}

.nowrap {
  white-space: nowrap;
}

.skills-skill {
  border: 1px DeepPink solid;
  display: inline-block;
  padding: 5px;
}

.tiny {
  font-size: 50%;
}