@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:200,300,400');
a,
.brtlyst-link {
  color: #eeeeee;
  text-decoration: underline;
}
.brtlyst-secondary {
  color: gray;
}
.brtlyst-gray {
  color: DimGray;
}
.brtlyst-highlight {
  color: DeepPink !important;
}
.brtlyst-icon {
  border: 1px #eeeeee solid;
  color: #eeeeee;
  display: inline-block;
  font-size: 60%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.brtlyst-label {
  color: #eeeeee;
  display: inline-block;
  font-size: 60%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
a.brtlyst-icon:hover {
  border: 1px DeepPink solid;
  color: DeepPink;
}
.brtlyst-label {
  background-color: DeepPink;
  color: #FFFFFF;
  display: inline-block;
  font-size: 60%;
  padding: 0 3px 0 2px;
}
.brtlyst-light {
  font-weight: 300;
  font-style: normal;
}
.brtlyst-link--highlighted {
  color: DeepPink;
  text-decoration: none;
}
.brtlyst-regular {
  font-weight: 400;
}
.brtlyst-sc {
  font-variant: small-caps;
}
.brtlyst-smaller {
  font-size: 80%;
}
.brtlyst-standard {
  color: #eeeeee;
}
.brtlyst-thin {
  font-weight: 200;
  font-style: normal;
}
/* TAGS */
body {
  background-color: #111111;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
h1 {
  font-family: "Abril Fatface", serif;
  font-size: 400%;
  font-weight: 400;
  line-height: 1em;
  margin: .25em 0 .25em 0;
}
h2 {
  color: DeepPink;
  font-weight: 200;
}
section {
  margin-bottom: 3em;
}
td {
  padding-bottom: 15px;
  padding-right: 15px;
  vertical-align: top;
}
/* CLASSES */
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.arrangement,
.skills-skill {
  border: 1px DeepPink solid;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
}
.arrangement--dehighlighted {
  cursor: not-allowed;
}
.brtlyst-label {
  color: #111111;
}
.hidden {
  display: none;
}
.intro {
  max-width: 45em;
}
.nowrap {
  white-space: nowrap;
}
.skills-skill--dehighlighted,
.arrangement--dehighlighted {
  border: 1px gray solid;
  color: gray;
}
.space-10px {
  height: 10px;
}
.space-2em {
  height: 2em;
}
.tiny {
  font-size: 60%;
}
.top-link {
  background-color: #111111;
  border: 1px #eeeeee solid;
  bottom: 10px;
  color: #eeeeee;
  padding: 10px;
  position: fixed;
  right: 10px;
  text-decoration: none;
}
.top-link:hover {
  border: 1px DeepPink solid;
  color: DeepPink;
}
/* SMALL SCREENS */
@media screen and (max-width: 411px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 367%;
  }
}
